@model IEnumerable<WebApp.Models.Product>

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Offers</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Products" asp-action="Upsert" class="btn btn-primary">
                <i class="fa-solid fa-plus"></i> &nbsp; Create New Offer
            </a>
        </div>

        <br /><br />

        @if (Model.Any())
        {
            <table class="table table-bordered table-striped" style="width:100%">
                <thead>
                    <tr>
                        <th>Offer Name</th>
                        <th>Price</th>
                        <th>Description</th>
                        <th>Image</th>
                        <th>Category</th>
                        <th>Application Type</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var obj in Model)
                    {
                        <tr>
                            <td width="25%">@obj.Name</td>
                            <td width="15%">@obj.Price.ToString("C")</td>
                            <td width="30%">@Html.Raw(obj.ShortDescription)</td>
                            <td width="20%">
                                @if (obj.Images != null && obj.Images.Any())
                                {
                                    var firstImage = obj.Images.First();
                                    <img src="~/Images/products/@firstImage.ImageUrl" style="width: 100%; max-height: 100px; object-fit: cover;" alt="Product image" />
                                }
                                else
                                {
                                    <p>No image available</p>
                                }
                            </td>
                            <td width="20%">@obj.Category.Name</td>
                            <td width="20%">@obj.ListingsType.Name</td>
                            <td class="text-center">
                                <div class="d-flex justify-content-center" style="gap: 5px;">
                                    <a asp-controller="Products" asp-route-id="@obj.Id" asp-action="Upsert" class="btn btn-primary">
                                        <i class="fa-solid fa-pen-to-square"></i>
                                    </a>
                                    <a asp-route-id="@obj.Id" asp-action="Delete" class="btn btn-danger">
                                        <i class="fa-solid fa-trash-can"></i>
                                    </a>
                                </div>
                            </td>

                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <p>No product found</p>
        }
    </div>
</div>


<style>
    .btn-group-custom {
        display: flex;
        justify-content: center;
        gap: 5px;
    }

    .btn-custom {
        width: 80px; 
    }

</style>                                   