@model WebApp.Models.Product

<div class="col-lg-4 col-md-6 pb-4 filter @Model.Category.Name.Replace(' ','_')">
    <!-- Card -->
    <div class="card bg-white rounded shadow-sm h-100" style="border:1px solid #222">
        <div class="card-body d-flex flex-column">
            <div class="d-flex justify-content-between">
                <label>@Model.Name</label>
                <label class="text-info h5">@Model.Price.ToString("C")</label>
            </div>
            <img class="card-img-top img-fluid mb-3" src="~/images/product/@Model.Image" alt="Product image" />
            <div class="d-flex gap-2 mb-2">
                <span class="badge p-2 border" style="background-color:lavenderblush; color:black;">@Model.ApplicationType.Name</span>
                <span class="badge p-2 border" style="background-color:azure; color:black;">@Model.Category.Name</span>
            </div>
            <p class="flex-grow-1" style="font-size:13px; text-align:justify">@Model.ShortDescription</p>
            <a asp-action="Details" asp-route-id="@Model.Id" class="btn btn-dark form-control btn-sm mt-auto">View Details</a>
        </div>
    </div>
</div>
